<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dog Year Converter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65350AD21E3815D40019C343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65350AE61E3815D50019C343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65350AF11E3815D50019C343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
